// стили формы события внутри модального окна
.modal {
    &__content {
        display: flex;
        width: 390px;
        height: 350px;
    }
    &__content-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 20px;
    }
    &__content-clock {
        margin-top: 85px;
    }
    &__content-list {
        margin-bottom: 50px;
    }
}

.event-form__description {
    border: none;
    margin-top: 65px;
    margin-bottom: 15px;
}

.event-form {
    // display: flex;
    // flex-direction: column; 
    &__title {
        border: none;
        border-bottom: 1px solid blue;
        margin-bottom: 100px;
        font-size: 22px;
    }
    &__time {
        display: flex;
        align-items: center;
        border: none;
        margin-top: 30px;
    }
    &__time-date {
        border: none;
    }
    &__time-start {
        border: none;
    }
    &__time-end {
        border: none;
    }
    &__submit-btn {
        float: right;
        margin-top: 20px;
    width: 100px;
    }
}

.create-event {
    display: flex;
    flex-direction: column;
    &__close-btn {
        padding: 0;
        margin: 0;
        display: block;
        width: 20px;
        float: right;
        background-color: transparent;
        border: none;
        transform: rotate(45deg);
    }
}