@import './styles/page.scss';
@import './styles/common.scss';
@import './styles/navigation.scss';
@import './styles/calendar.scss';
@import './styles/timescale.scss';
@import './styles/create-event.scss';
@import './styles/event.scss';
@import './styles/header.scss';

* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}