* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.button {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.icon-button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.page {
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    position: relative;
}